*{
    margin: 0;
    padding: 0;

}
/* HEADER */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: aliceblue;
}
header .bouton{
    width: 60px;
    height: 40px;
    background-color: blue;
    /* border: 1px solid black; */
    border-radius: 5px;
    text-align: center;
}
header .bouton a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    display: block;
    
}
/* END HEADER */
/* SECTION1 */
.section1{
    background: url('images/fd1.jpeg') no-repeat center/cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
article{
    padding: 5px;
}
.section1 .aside1, .section1 .aside2{
    width: 60%;
    margin: auto;
    padding: 5px;
}
.section1 .aside1{
    font-size: 1.4em;
    margin-bottom: 5px;
    font-weight: 600;
    color: white;
}

.section1 .aside2 .text{
    padding: 8px;
    width: 300px;
    border-radius: 5px;
    border: none;
}
.section1 .aside2 .bouton{
    padding: 8px;
    background-color: blue;
    border-radius: 5px;
    width: 100px;
    border: none;
    color: white;
}
/* section2 */
.section2{
    position: relative;
    top: 70px;
}
.container{
    width: 70%;
    margin: auto;
}
.cadre{
    display: inline-block;
    margin-right: 15px;
    text-align: center;
    height: 200px;

}
.cadre .svg{
    padding: 10px;
    color: blue;
}
.cadre p{
    color: gray;
}